// Colors
$black90: rgba(0, 0, 0, 0.9);
$black85: rgba(0, 0, 0, 0.85);
$black65: rgba(0, 0, 0, 0.65);
$black45: rgba(0, 0, 0, 0.45);
$black25: rgba(0, 0, 0, 0.25);

$white: #fff;
$white65: rgba(255, 255, 255, 0.65);
$white45: rgba(255, 255, 255, 0.45);
$white25: rgba(255, 255, 255, 0.25);

// Spacing
$section-margin: 2.5rem;
$section-padding: 1.25rem;

// Text shadow
$text-shadow-slight: 0px 1px 1px rgba(0, 0, 0, 0.2),
  0px 2px 3.5px rgba(0, 0, 0, 0.05), 0px 4.5px 6px rgba(0, 0, 0, 0.05);
