@import '../theme';
@import '../utils';

#home-page__wrapper {
  max-height: 100%;
  position: relative;
  z-index: $z-top-layer;

  div.app-loader__icon {
    display: flex;
    justify-content: center;
    margin-top: $section-margin * 6;
  }
}

#home-page__wrapper .glass-card__wrapper .ant-card-body {
  & .weather-forecast,
  .weather-meta__section {
    display: flex;
    justify-content: space-between;
    padding: $section-padding 0;
    box-sizing: border-box;

    section,
    div {
      flex: 1;
    }
    header {
      flex: 2;
      font-size: 3rem;
      color: $white;
      text-shadow: $text-shadow-slight;
      font-weight: bold;
      text-align: center;
    }
  }

  & .weather-meta__section {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .weather-card__wrapper {
    margin: 0 0.5rem;
  }

  .favorites-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.glass-section__searchbar {
  display: flex;
  justify-content: center;

  div.ant-card-body {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: $mobile-break-point) {
  #home-page__wrapper
    .glass-card__wrapper
    .ant-card-body
    .weather-meta__section {
    flex-direction: column;

    section,
    div {
      display: flex;
      justify-content: center;
    }

    header {
      margin-top: $section-margin;
      margin-bottom: $section-margin;
    }
  }

  #home-page__wrapper .glass-card__wrapper .ant-card-body {
    & .weather-forecast {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      div.weather-card__wrapper {
        margin-bottom: $section-margin;
      }
    }
  }
}
