@import '../theme';

li.ant-menu-item {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.ant-menu-item {
  margin-left: 1rem;
  margin-right: 1rem;

  span {
    font-size: 1rem;
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-weight: bold;

    a {
      color: $white !important;
      text-shadow: $text-shadow-slight;

      &:hover {
        color: $white !important;
      }
    }
  }

  i {
    font-size: 1rem;
    color: $white;
    text-shadow: $text-shadow-slight;
  }
}

.ant-menu-root.ant-menu-horizontal {
  border: none;
  background-color: $white25;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: $z-top-layer;
}

.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-item-selected {
  border-bottom: 2px solid $white !important;
}

.ant-menu-item.ant-menu-item-only-child.navbar-hamburger__wrapper {
  border: none !important;
}

#navbar-hamburger__button {
  transform: scale(1.7);
  transition: transform 0.2s;
  color: $white;
  text-shadow: $text-shadow-slight;

  &:hover {
    transform: scale(2);
  }
}

.ant-menu.ant-menu-root.navbar-theme__dark {
  background-color: $primary-color-dark;
  box-shadow: $box-shadow-slight;
}
