@import '../theme';

// Standard variant
.weather-card__wrapper {
  box-sizing: border-box;
  width: 235px;
  max-width: 250px;
  min-width: 135px;
  transition: all 0.3s;

  &:hover {
    @include raise-animation;
  }

  .ant-card-actions {
    border-radius: $global-border-radius;
  }

  .ant-card-head-title {
    color: $black65;
    text-align: center;
  }
}

.ant-card-meta-title {
  font-size: 1.2rem;
  color: $black85;
  text-shadow: $text-shadow-slight;
  text-align: center;
}

.ant-card-meta-description {
  font-size: 1.1rem;
  color: $black45;
  text-align: center;
}

.ant-card-head-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.ant-card-cover .flag-image__cover {
  transform: scale(0.5);
}

// Thumbnail variant
#weather-thumbnail__wrapper {
  display: flex;
  span {
    margin-left: $section-margin/2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    p {
      margin-bottom: 0;
      font-size: 1rem;
      color: $white;
      text-shadow: $text-shadow-slight;

      &:nth-child(1) {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  img {
    height: 9rem;
    width: 9rem;
  }
}
